## CHALLENGE-PREWORK-DS

### 1. Importamos las librerias que necesitaremos

In [15]:
import pandas as pd
import numpy as np

### 2. Cargamos nuestros archivo csv y lo convertimos en un dataframe

In [4]:
df = pd.read_csv('INAH_detallado_2019.csv', encoding='utf8')
df.head(2)

,Estado,Clave SIINAH,Siglas,Centro de trabajo,A�o,Mes,Tipo de visitantes,N�mero de visitas,Nacionalidad
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Estudiantes nivel b�sico,527,Nacional
1,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Entrada dominical,617,Nacional

#### Renombramos algunas columnas para que el trabajo sea más fácil

In [5]:
df.rename(columns={
    'Clave SIINAH' : 'clave',
    'Centro de trabajo': 'centro_trabajo',
    'A�o':'year', 
    'Tipo de visitantes':'tipo_visitante',
    'N�mero de visitas':'numero_visitas'}, inplace=True)

In [6]:
df.head(2)

,Estado,clave,Siglas,centro_trabajo,year,Mes,tipo_visitante,numero_visitas,Nacionalidad
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Estudiantes nivel b�sico,527,Nacional
1,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Entrada dominical,617,Nacional

### 3. Creamos un nuevo dataframe con los datos que vamos a utilizar a lo largo del proyecto

In [7]:
df_work = df.copy(deep=True)

In [8]:
df_work.drop(['Siglas'], axis=1, inplace=True)

In [9]:
df_work.head(3)

,Estado,clave,centro_trabajo,year,Mes,tipo_visitante,numero_visitas,Nacionalidad
0,Aguascalientes,2300100.0,Museo Regional de Historia de Aguascalientes,2019,1,Estudiantes nivel b�sico,527,Nacional
1,Aguascalientes,2300100.0,Museo Regional de Historia de Aguascalientes,2019,1,Entrada dominical,617,Nacional
2,Aguascalientes,2300100.0,Museo Regional de Historia de Aguascalientes,2019,1,Boleto pagado,19,Extranjeros

#### Observamos el tipo de dato de cada una de las columnas y los ajustamos para que sean el tipo de dato que necesitamos

In [10]:
df_work.dtypes

Estado             object
clave             float64
centro_trabajo     object
year                int64
Mes                 int64
tipo_visitante     object
numero_visitas     object
Nacionalidad       object
dtype: object

In [11]:
df_work['numero_visitas'] = df_work['numero_visitas'].str.replace(',', '')

In [13]:
df_work['numero_visitas']=df_work['numero_visitas'].astype(int)
df_work.dtypes

Estado             object
clave             float64
centro_trabajo     object
year                int64
Mes                 int64
tipo_visitante     object
numero_visitas      int32
Nacionalidad       object
dtype: object

### 4. Empezamos a realizar el análisis de nuestros datos

In [124]:
# Totales por Estado por temporalidad (Mes y Año)

table = pd.pivot_table(df_work, index=['Estado'], values=['numero_visitas'], columns=['year', 'Mes'], aggfunc='sum')

table['totales']=table.sum(axis=1)
table.sample(5)

                 numero_visitas                                          \
year                       2019
Mes                           1       2       3       4       5       6
Estado
Estado de M�xico         426682  372331  490242  529516  265416  262059
Nuevo Le�n                 2430    3426    5406    2744    2577    2217
Puebla                   108326   75288   79426  108375   69970   71224
Chihuahua                 10707   11250   16485   23470   11614   11535
Veracruz                  45403   49664   84102  115636   64526   58134

                                                                  totales
year
Mes                    7       8       9      10      11      12
Estado
Estado de M�xico  368040  332404  390866  391441  342686  395667  4567350
Nuevo Le�n          2406    2494    3158    3054    2928    2823    35663
Puebla            109976  123514   73608   69430  100986   90972  1081095
Chihuahua          14785   12736   11029   15053   13889    6948   159501
Veracruz           85543   97679   37414   33024   47762   95197   814084

In [125]:
#Totales por Estado por tipo de visitante

table = pd.pivot_table(df_work, index=['Estado'], values=['numero_visitas'], columns=['tipo_visitante'], aggfunc='sum')

table['totales']=table.sum(axis=1)
table.sample(5)

                numero_visitas                                   \
tipo_visitante   Boleto pagado Discapacitados Entrada dominical
Estado
Baja California           1826             70              8174
Veracruz                222822           7302            369318
Quer�taro                21491            173            107138
Yucat�n                2293200           3063            510895
Tamaulipas                 818             46              4096

                                                            \
tipo_visitante  Entrada sin costo Estudiantes nivel b�sico
Estado
Baja California              5779                     4368
Veracruz                        0                    76314
Quer�taro                    6555                    28292
Yucat�n                     21542                   183687
Tamaulipas                   1004                     2011

                                            \
tipo_visitante  Estudiantes nivel superior
Estado
Baja California                       2467
Veracruz                             59254
Quer�taro                            31539
Yucat�n                             145480
Tamaulipas                            1955

                                                                        \
tipo_visitante  Exposiciones temporales con costo adicional Profesores
Estado
Baja California                                           0       1183
Veracruz                                                  0      23785
Quer�taro                                                 0       9618
Yucat�n                                                 351      62930
Tamaulipas                                                0        271

                                                                         \
tipo_visitante  Tercera edad, pensionados y jubilados Trabajadores INAH
Estado
Baja California                                  1510               207
Veracruz                                        54999               290
Quer�taro                                        7538                61
Yucat�n                                        161811              8518
Tamaulipas                                        971                70

                 totales
tipo_visitante
Estado
Baja California    25584
Veracruz          814084
Quer�taro         212405
Yucat�n          3391477
Tamaulipas         11242

In [126]:
#Totales por Estado por tipo de visitante y temporalidad (Mes y Año)

table = pd.pivot_table(df_work, index=['Estado'], values=['numero_visitas'], columns=['year', 'Mes', 'tipo_visitante'], aggfunc='sum')

table['totales']=table.sum(axis=1)
table.sample(5)

               numero_visitas                                   \
year                     2019
Mes                         1
tipo_visitante  Boleto pagado Discapacitados Entrada dominical
Estado
Quintana Roo           343400            147             20746
Tlaxcala                 2832             42             13965
Yucat�n                289582            172             28663
Zacatecas                1872              4              1904
Jalisco                  1126            129              9356

                                                           \
year
Mes
tipo_visitante Entrada sin costo Estudiantes nivel b�sico
Estado
Quintana Roo                   0                    20178
Tlaxcala                     644                     1887
Yucat�n                      720                    15210
Zacatecas                      0                     1086
Jalisco                    14335                     3690

                                           \
year
Mes
tipo_visitante Estudiantes nivel superior
Estado
Quintana Roo                        10812
Tlaxcala                             1473
Yucat�n                             10953
Zacatecas                             823
Jalisco                              2254

                                                                       \
year
Mes
tipo_visitante Exposiciones temporales con costo adicional Profesores
Estado
Quintana Roo                                             0       3722
Tlaxcala                                                 0       1054
Yucat�n                                                  0       7368
Zacatecas                                                0        377
Jalisco                                                  0        927

                                                                        ...  \
year                                                                    ...
Mes                                                                     ...
tipo_visitante Tercera edad, pensionados y jubilados Trabajadores INAH  ...
Estado                                                                  ...
Quintana Roo                                   11396                52  ...
Tlaxcala                                        1041                67  ...
Yucat�n                                        19638               245  ...
Zacatecas                                        423                 0  ...
Jalisco                                         1030                19  ...

                                                                   \
year
Mes                        12
tipo_visitante Discapacitados Entrada dominical Entrada sin costo
Estado
Quintana Roo               51             18158                 0
Tlaxcala                   31              7321               744
Yucat�n                   213             59210              5120
Zacatecas                   4              2750              1325
Jalisco                   182              6616               116

                                                                    \
year
Mes
tipo_visitante Estudiantes nivel b�sico Estudiantes nivel superior
Estado
Quintana Roo                      15122                       6857
Tlaxcala                           2015                       1269
Yucat�n                           15121                      15996
Zacatecas                          1319                        874
Jalisco                            3280                       2280

                                                                       \
year
Mes
tipo_visitante Exposiciones temporales con costo adicional Profesores
Estado
Quintana Roo                                             0       2424
Tlaxcala                                                 0        527
Yucat�n                                                  0       5360
Zacatecas                                                0        386
Jalisco                                                  0        344

                                                                        \
year
Mes
tipo_visitante Tercera edad, pensionados y jubilados Trabajadores INAH
Estado
Quintana Roo                                    4848                40
Tlaxcala                                         450                30
Yucat�n                                        12319               703
Zacatecas                                        536                 0
Jalisco                                          282                24

                totales
year
Mes
tipo_visitante
Estado
Quintana Roo    3282771
Tlaxcala         252921
Yucat�n         3391477
Zacatecas        119776
Jalisco          343196

[5 rows x 121 columns]

In [127]:
#Totales por Centro de trabajo y temporalidad (Mes y año)

table = pd.pivot_table(df_work, index=['centro_trabajo'], values=['numero_visitas'], columns=['year', 'Mes'], aggfunc='sum')

table['totales']=table.sum(axis=1)
table

                                       numero_visitas                    \
year                                             2019
Mes                                                 1        2        3
centro_trabajo
Capilla Abierta de Tlalmanalco               1,172.00 1,382.00 1,298.00
Capilla Abierta del Templo de Calimaya         214.00   348.00   782.00
Casa de Hidalgo                              8,680.00 5,941.00 4,225.00
Casa de la Palestina                             0.00     0.00     0.00
Casa del Dean                                  924.00 1,323.00 1,287.00
...                                               ...      ...      ...
Z.A. de Yagul                                  878.00 1,154.00 1,292.00
Z.A. de Yautepec                               136.00    66.00   381.00
Z.A. de Yaxchil�n                            7,395.00 6,207.00 6,627.00
Z.A. de Yohualichan                          4,432.00 3,108.00 4,157.00
Z.A. de Zaachila                               312.00   165.00   186.00

                                                                             \
year
Mes                                            4        5        6        7
centro_trabajo
Capilla Abierta de Tlalmanalco          1,268.00   614.00 1,005.00 1,356.00
Capilla Abierta del Templo de Calimaya  3,160.00   220.00   464.00 1,014.00
Casa de Hidalgo                         9,054.00 5,342.00 5,472.00 8,537.00
Casa de la Palestina                        0.00     0.00     0.00     0.00
Casa del Dean                           1,072.00   900.00 1,113.00 1,206.00
...                                          ...      ...      ...      ...
Z.A. de Yagul                           1,275.00   717.00 1,072.00 1,633.00
Z.A. de Yautepec                          212.00   100.00   110.00   192.00
Z.A. de Yaxchil�n                      10,232.00 5,411.00 3,408.00 7,784.00
Z.A. de Yohualichan                     7,008.00 4,251.00 3,931.00 6,226.00
Z.A. de Zaachila                          471.00   229.00   246.00   796.00

                                                                            \
year
Mes                                           8        9       10       11
centro_trabajo
Capilla Abierta de Tlalmanalco         1,365.00 1,392.00 1,116.00 1,266.00
Capilla Abierta del Templo de Calimaya   338.00   542.00   456.00   440.00
Casa de Hidalgo                        7,558.00 7,679.00 4,672.00 6,966.00
Casa de la Palestina                       0.00     0.00     0.00     0.00
Casa del Dean                          1,737.00 1,844.00 1,598.00 1,867.00
...                                         ...      ...      ...      ...
Z.A. de Yagul                          1,105.00   751.00   808.00 1,746.00
Z.A. de Yautepec                         181.00   300.00   152.00   115.00
Z.A. de Yaxchil�n                      2,892.00 2,647.00 2,706.00 8,389.00
Z.A. de Yohualichan                    4,698.00 3,449.00 4,942.00 4,455.00
Z.A. de Zaachila                         371.00   182.00   267.00   303.00

                                                  totales
year
Mes                                          12
centro_trabajo
Capilla Abierta de Tlalmanalco         1,227.00 14,461.00
Capilla Abierta del Templo de Calimaya   190.00  8,168.00
Casa de Hidalgo                        4,825.00 78,951.00
Casa de la Palestina                       0.00      0.00
Casa del Dean                          1,147.00 16,018.00
...                                         ...       ...
Z.A. de Yagul                          2,102.00 14,533.00
Z.A. de Yautepec                         128.00  2,073.00
Z.A. de Yaxchil�n                      7,873.00 71,571.00
Z.A. de Yohualichan                    4,509.00 55,166.00
Z.A. de Zaachila                         569.00  4,097.00

[277 rows x 13 columns]

In [128]:
#Totales por Centro de trabajo por tipo de visitante (Año)

table = pd.pivot_table(df_work, index=['centro_trabajo'], values=['numero_visitas'], columns=['year', 'tipo_visitante'], aggfunc='sum')
table

table['totales']=table.sum(axis=1)
table

                                       numero_visitas                 \
year                                             2019
tipo_visitante                          Boleto pagado Discapacitados
centro_trabajo
Capilla Abierta de Tlalmanalco                     89             75
Capilla Abierta del Templo de Calimaya              0             21
Casa de Hidalgo                                 19622             47
Casa de la Palestina                                0              0
Casa del Dean                                    1398             77
...                                               ...            ...
Z.A. de Yagul                                    4634             51
Z.A. de Yautepec                                    0              1
Z.A. de Yaxchil�n                                   0              0
Z.A. de Yohualichan                             12710             67
Z.A. de Zaachila                                 1451             13

                                                                            \
year
tipo_visitante                         Entrada dominical Entrada sin costo
centro_trabajo
Capilla Abierta de Tlalmanalco                      4606              6962
Capilla Abierta del Templo de Calimaya              1324              3933
Casa de Hidalgo                                    23884               611
Casa de la Palestina                                   0                 0
Casa del Dean                                       3404               641
...                                                  ...               ...
Z.A. de Yagul                                       4472                 0
Z.A. de Yautepec                                     386                41
Z.A. de Yaxchil�n                                  24139             15342
Z.A. de Yohualichan                                29633               247
Z.A. de Zaachila                                    1338                17

                                                                 \
year
tipo_visitante                         Estudiantes nivel b�sico
centro_trabajo
Capilla Abierta de Tlalmanalco                              633
Capilla Abierta del Templo de Calimaya                      972
Casa de Hidalgo                                           14921
Casa de la Palestina                                          0
Casa del Dean                                              2775
...                                                         ...
Z.A. de Yagul                                              2363
Z.A. de Yautepec                                            441
Z.A. de Yaxchil�n                                         11182
Z.A. de Yohualichan                                        3425
Z.A. de Zaachila                                            605

                                                                   \
year
tipo_visitante                         Estudiantes nivel superior
centro_trabajo
Capilla Abierta de Tlalmanalco                                888
Capilla Abierta del Templo de Calimaya                       1004
Casa de Hidalgo                                              8358
Casa de la Palestina                                            0
Casa del Dean                                                3238
...                                                           ...
Z.A. de Yagul                                                1590
Z.A. de Yautepec                                              484
Z.A. de Yaxchil�n                                            6820
Z.A. de Yohualichan                                          4430
Z.A. de Zaachila                                              294

                                                                                    \
year
tipo_visitante                         Exposiciones temporales con costo adicional
centro_trabajo
Capilla Abierta de Tlalmanalco                                                   0
Capilla Abierta del Templo de Calimaya                                           0
Casa de Hidalgo                                                                  0
Casa de la Palestina                                                             0
Casa del Dean                                                                    0
...                                                                            ...
Z.A. de Yagul                                                                    0
Z.A. de Yautepec                                                                 0
Z.A. de Yaxchil�n                                                                0
Z.A. de Yohualichan                                                              0
Z.A. de Zaachila                                                                 0

                                                   \
year
tipo_visitante                         Profesores
centro_trabajo
Capilla Abierta de Tlalmanalco                344
Capilla Abierta del Templo de Calimaya        151
Casa de Hidalgo                              4380
Casa de la Palestina                            0
Casa del Dean                                1793
...                                           ...
Z.A. de Yagul                                 577
Z.A. de Yautepec                              133
Z.A. de Yaxchil�n                            5558
Z.A. de Yohualichan                          1860
Z.A. de Zaachila                              182

                                                                              \
year
tipo_visitante                         Tercera edad, pensionados y jubilados
centro_trabajo
Capilla Abierta de Tlalmanalco                                           724
Capilla Abierta del Templo de Calimaya                                   696
Casa de Hidalgo                                                         7093
Casa de la Palestina                                                       0
Casa del Dean                                                           2513
...                                                                      ...
Z.A. de Yagul                                                            716
Z.A. de Yautepec                                                         578
Z.A. de Yaxchil�n                                                       8530
Z.A. de Yohualichan                                                     2760
Z.A. de Zaachila                                                         161

                                                         totales
year
tipo_visitante                         Trabajadores INAH
centro_trabajo
Capilla Abierta de Tlalmanalco                       140   14461
Capilla Abierta del Templo de Calimaya                67    8168
Casa de Hidalgo                                       35   78951
Casa de la Palestina                                   0       0
Casa del Dean                                        179   16018
...                                                  ...     ...
Z.A. de Yagul                                        130   14533
Z.A. de Yautepec                                       9    2073
Z.A. de Yaxchil�n                                      0   71571
Z.A. de Yohualichan                                   34   55166
Z.A. de Zaachila                                      36    4097

[277 rows x 11 columns]

In [129]:
#Promedio de visitantes totales por estado (Mes y Año)

table = pd.pivot_table(df_work, index=['Estado'], values=['numero_visitas'], columns=['year', 'Mes'], aggfunc='mean')

pd.options.display.float_format = '{:,.2f}'.format
table

                    numero_visitas                                      \
year                          2019
Mes                             1        2        3        4        5
Estado
Aguascalientes              136.62   152.15   175.92   290.54   189.92
Baja California              84.85    87.15   111.50   109.85    93.92
Baja California Sur          67.02   107.40    69.65    92.12    60.58
Campeche                    115.14    83.01    93.71   113.15    63.01
Chiapas                     621.74   457.77   541.47   966.98   426.84
Chihuahua                   137.27   144.23   211.35   300.90   148.90
Ciudad de M�xico          4,936.52 4,521.26 4,477.93 5,922.68 3,356.36
Coahuila                    190.15   142.00   116.31   258.69   305.85
Colima                       78.15    88.31   107.92   119.59   114.95
Durango                      94.15   101.31   138.77   119.85    56.23
Estado de M�xico          1,262.37 1,101.57 1,450.42 1,566.62   785.25
Guanajuato                  438.51   257.70   239.70   413.70   233.29
Guerrero                    106.33   104.20   104.21   115.21    67.48
Hidalgo                     280.26   378.11   493.22   464.38   214.94
Jalisco                     421.36   464.35   458.51   669.37   298.49
Michoac�n                    87.32    98.87   122.24   174.29    90.59
Morelos                     443.53   367.69   462.71   503.55   259.43
Nayarit                      79.82    48.15    91.92    78.41    52.18
Nuevo Le�n                   93.46   131.77   207.92   105.54    99.12
Oaxaca                      303.60   245.39   351.71   458.80   248.61
Puebla                      438.57   304.81   321.56   438.77   283.28
Quer�taro                   145.68   222.34   317.98   401.22   265.92
Quintana Roo              2,428.72 1,603.25 1,726.07 2,217.83 1,512.25
San Luis Potos�              89.49    66.00    92.23   121.97   115.44
Sinaloa                      70.15    63.85   183.23   129.31   179.65
Sonora                       15.38     4.54    11.65    12.58     7.54
Tabasco                      69.18    65.05    87.32   244.33    78.01
Tamaulipas                   23.44    16.97    21.90    33.03    20.00
Tlaxcala                    294.94   239.14   222.82   324.03   202.94
Veracruz                    205.44   224.72   380.55   523.24   291.97
Yucat�n                   1,508.30   985.47 1,319.81 1,233.59   951.49
Zacatecas                   166.38   174.95   245.23   292.46   147.36

                                                                           \
year
Mes                       6        7        8        9        10       11
Estado
Aguascalientes        136.92   215.15   127.38   188.08   208.31   243.31
Baja California        94.08   130.73    68.96    29.65    61.08    57.08
Baja California Sur    33.58    79.42    72.80    58.42    81.72    61.91
Campeche               51.09   119.27    89.56    46.20    56.96    82.11
Chiapas               315.90   847.23   441.90   331.25   480.76   575.23
Chihuahua             147.88   189.55   163.28   141.40   192.99   178.06
Ciudad de M�xico    3,172.51 3,426.69 3,552.06 4,296.69 5,234.18 5,244.24
Coahuila              299.69   404.92   260.62     0.38     0.62     0.00
Colima                116.33   104.46    96.59    79.74    85.87   111.18
Durango                81.85    97.77    82.23    57.23    86.92    81.38
Estado de M�xico      775.32 1,088.88   983.44 1,156.41 1,158.11 1,013.86
Guanajuato            263.87   397.21   394.83   279.87   275.17   317.67
Guerrero               72.38    93.34    88.74    61.67    97.90    80.98
Hidalgo               240.98   399.58   314.07   205.11   206.43   279.15
Jalisco               233.49   404.32   317.03   275.94   261.99   321.49
Michoac�n              98.17   158.69   125.12   111.48   103.19   168.38
Morelos               365.01   530.85   455.55   321.06   291.53   416.19
Nayarit                40.23   102.21    68.41    52.79    42.87    74.51
Nuevo Le�n             85.27    92.54    95.92   121.46   117.46   112.62
Oaxaca                264.58   599.14   364.13   266.46   293.77   412.49
Puebla                288.36   445.25   500.06   298.01   281.09   408.85
Quer�taro             232.18   405.69   286.31   232.55   220.83   289.22
Quintana Roo        1,368.27 1,933.32 1,555.17   885.68 1,022.05 1,558.89
San Luis Potos�        65.74   102.13    72.26    59.18    64.77   222.59
Sinaloa               195.00   179.62    98.08    68.65    60.08    79.00
Sonora                  4.96     6.77     3.92     4.38    16.27    13.38
Tabasco                69.01   116.99   133.15    59.89    49.77    42.19
Tamaulipas             34.62    25.71    14.00    11.87    18.35    17.38
Tlaxcala              210.92   384.09   331.12   222.26   388.74   239.82
Veracruz              263.05   387.07   441.99   169.29   149.43   216.12
Yucat�n             1,038.68 1,399.12 1,125.10   708.55   865.91 1,208.68
Zacatecas             198.90   283.00   266.85   348.91   136.51   152.46


year
Mes                       12
Estado
Aguascalientes        181.15
Baja California        55.15
Baja California Sur   129.35
Campeche              138.94
Chiapas               725.32
Chihuahua              89.08
Ciudad de M�xico    3,444.12
Coahuila                0.69
Colima                103.90
Durango               101.92
Estado de M�xico    1,170.61
Guanajuato            237.30
Guerrero               82.29
Hidalgo               312.89
Jalisco               273.63
Michoac�n             173.08
Morelos               500.26
Nayarit               262.54
Nuevo Le�n            108.58
Oaxaca                493.19
Puebla                368.31
Quer�taro             247.85
Quintana Roo        1,613.21
San Luis Potos�        77.69
Sinaloa                63.77
Sonora                  8.15
Tabasco                84.48
Tamaulipas             16.42
Tlaxcala              181.77
Veracruz              430.76
Yucat�n             1,462.96
Zacatecas             139.75

In [130]:
#Promedio de visitantes por tipo de visitante, por estado (Mes y Año)

table = pd.pivot_table(df_work, index=['Estado'], values=['numero_visitas'], columns=['year', 'Mes', 'tipo_visitante'], aggfunc='mean')

pd.options.display.float_format = '{:,.2f}'.format

table

                    numero_visitas                                   \
year                          2019
Mes                             1
tipo_visitante       Boleto pagado Discapacitados Entrada dominical
Estado
Aguascalientes               49.50           3.00            617.00
Baja California              74.50           1.50            393.00
Baja California Sur          98.40           0.80            221.60
Campeche                    330.12           0.85            350.00
Chiapas                     980.39           1.93          1,052.21
Chihuahua                    25.33           0.00            125.83
Ciudad de M�xico          6,802.79         101.00         24,016.08
Coahuila                      0.00           0.00            319.00
Colima                       94.67           0.00            198.33
Durango                       0.00           0.00            194.00
Estado de M�xico          2,004.56           3.12         10,291.12
Guanajuato                  881.95           9.18            961.36
Guerrero                    107.42           3.25            212.50
Hidalgo                     282.88          11.00          1,057.62
Jalisco                      93.83          21.50          1,559.33
Michoac�n                    53.41           0.64            450.18
Morelos                     723.23           6.82          1,418.09
Nayarit                      48.00           5.67            338.33
Nuevo Le�n                    0.00           0.00            729.50
Oaxaca                      901.00           6.39            764.89
Puebla                      770.45          11.42          1,292.95
Quer�taro                   125.80           2.00            931.20
Quintana Roo             13,207.69          11.31          1,595.85
San Luis Potos�              90.67           3.33            261.33
Sinaloa                     173.25           0.50            274.00
Sonora                        0.00           0.00            200.00
Tabasco                      95.36           1.71            338.29
Tamaulipas                   13.17           0.33             80.00
Tlaxcala                    236.00           7.00          2,327.50
Veracruz                    532.74           5.12            738.06
Yucat�n                   7,620.58           9.05          1,508.58
Zacatecas                   312.00           1.33            634.67

                                                                \
year
Mes
tipo_visitante      Entrada sin costo Estudiantes nivel b�sico
Estado
Aguascalientes                  83.50                   527.00
Baja California                139.25                   117.00
Baja California Sur             75.50                   125.40
Campeche                        13.15                   111.55
Chiapas                        871.29                 1,015.29
Chihuahua                      311.00                   413.17
Ciudad de M�xico             1,120.25                10,173.92
Coahuila                     1,058.50                    20.00
Colima                          17.17                   267.00
Durango                        262.50                   300.00
Estado de M�xico               496.67                   544.12
Guanajuato                     302.64                   776.27
Guerrero                       108.79                   164.33
Hidalgo                        123.25                   667.12
Jalisco                      1,194.58                   615.00
Michoac�n                        5.77                   145.64
Morelos                        635.27                   484.45
Nayarit                         14.50                   309.00
Nuevo Le�n                      59.50                    57.00
Oaxaca                           4.36                   342.89
Puebla                         305.92                   980.95
Quer�taro                       43.10                   302.40
Quintana Roo                     0.00                 1,552.15
San Luis Potos�                 27.50                   176.67
Sinaloa                          0.00                    46.50
Sonora                           0.00                     0.00
Tabasco                          0.00                    99.43
Tamaulipas                      71.33                    10.00
Tlaxcala                        53.67                   314.50
Veracruz                         0.00                   325.24
Yucat�n                         18.95                   800.53
Zacatecas                        0.00                   362.00

                                                \
year
Mes
tipo_visitante      Estudiantes nivel superior
Estado
Aguascalientes                          188.00
Baja California                          61.50
Baja California Sur                      48.40
Campeche                                143.25
Chiapas                                 767.36
Chihuahua                               511.33
Ciudad de M�xico                      9,461.92
Coahuila                                 10.00
Colima                                  157.00
Durango                                 165.00
Estado de M�xico                        336.19
Guanajuato                              581.91
Guerrero                                466.33
Hidalgo                                 594.88
Jalisco                                 375.67
Michoac�n                               165.64
Morelos                                 696.27
Nayarit                                 167.00
Nuevo Le�n                              202.50
Oaxaca                                  522.44
Puebla                                  826.21
Quer�taro                               205.40
Quintana Roo                            831.69
San Luis Potos�                         268.00
Sinaloa                                 133.50
Sonora                                    0.00
Tabasco                                 209.00
Tamaulipas                               23.00
Tlaxcala                                245.50
Veracruz                                235.88
Yucat�n                                 576.47
Zacatecas                               274.33

                                                                            \
year
Mes
tipo_visitante      Exposiciones temporales con costo adicional Profesores
Estado
Aguascalientes                                             0.00      79.00
Baja California                                            0.00      48.00
Baja California Sur                                       26.00      38.40
Campeche                                                   0.00      62.95
Chiapas                                                    0.00     491.71
Chihuahua                                                  0.00      19.33
Ciudad de M�xico                                           0.00     814.08
Coahuila                                                   0.00       1.00
Colima                                                     0.00      65.00
Durango                                                    0.00      40.00
Estado de M�xico                                           0.00      61.38
Guanajuato                                                 0.00     261.82
Guerrero                                                   0.00      44.67
Hidalgo                                                    0.00     234.88
Jalisco                                                    0.00     154.50
Michoac�n                                                  0.00     120.00
Morelos                                                    0.00     205.64
Nayarit                                                    0.00      46.67
Nuevo Le�n                                                 0.00       9.00
Oaxaca                                                     0.00     150.44
Puebla                                                     0.00     188.26
Quer�taro                                                  0.00      64.40
Quintana Roo                                               0.00     286.31
San Luis Potos�                                            0.00      92.00
Sinaloa                                                    0.00      63.00
Sonora                                                     0.00       0.00
Tabasco                                                    0.00      26.71
Tamaulipas                                                 0.00       2.33
Tlaxcala                                                   0.00     175.67
Veracruz                                                   0.00      90.82
Yucat�n                                                    0.00     387.79
Zacatecas                                                  0.00     125.67

                                                                             \
year
Mes
tipo_visitante      Tercera edad, pensionados y jubilados Trabajadores INAH
Estado
Aguascalientes                                      96.00              0.00
Baja California                                     53.50              1.00
Baja California Sur                                 30.80              6.00
Campeche                                           138.85              2.80
Chiapas                                          1,050.14              0.57
Chihuahua                                           41.83              0.33
Ciudad de M�xico                                 3,741.00             20.67
Coahuila                                             0.00              5.00
Colima                                             105.00              0.00
Durango                                              0.00              0.00
Estado de M�xico                                   169.54              2.92
Guanajuato                                         738.55              2.36
Guerrero                                            56.33              2.42
Hidalgo                                            258.25              7.38
Jalisco                                            171.67              3.17
Michoac�n                                          134.55              0.18
Morelos                                            235.00              2.64
Nayarit                                             46.00              0.00
Nuevo Le�n                                          95.00              3.00
Oaxaca                                             344.39              4.67
Puebla                                             233.37             15.47
Quer�taro                                           50.00              0.60
Quintana Roo                                       876.62              4.00
San Luis Potos�                                    121.33              4.33
Sinaloa                                             46.50              1.50
Sonora                                               0.00              0.00
Tabasco                                             32.71              0.71
Tamaulipas                                          20.00              0.00
Tlaxcala                                           173.50             11.17
Veracruz                                           209.82              0.35
Yucat�n                                          1,033.58             12.89
Zacatecas                                          141.00              0.00

                     ...                                                 \
year                 ...
Mes                  ...            12
tipo_visitante       ... Boleto pagado Discapacitados Entrada dominical
Estado               ...
Aguascalientes       ...         70.50           0.00            610.00
Baja California      ...         53.50           5.00            294.00
Baja California Sur  ...        130.60           1.60            157.60
Campeche             ...        320.52           2.25            595.80
Chiapas              ...      1,073.46           1.79          2,382.43
Chihuahua            ...         28.58           0.00            242.67
Ciudad de M�xico     ...      4,048.50         197.62         18,685.38
Coahuila             ...          0.00           0.00              0.00
Colima               ...         62.00           0.00            385.00
Durango              ...          0.00           0.00            351.00
Estado de M�xico     ...      2,309.88           2.50          8,579.50
Guanajuato           ...        280.46           5.67            766.42
Guerrero             ...         51.46           2.08            196.08
Hidalgo              ...        239.69          23.50          1,822.62
Jalisco              ...        684.92          30.33          1,102.67
Michoac�n            ...        228.45           4.27          1,034.64
Morelos              ...        741.59          10.36          2,096.18
Nayarit              ...        224.50           2.00            191.33
Nuevo Le�n           ...         30.00           0.00            781.00
Oaxaca               ...      1,160.22          15.11          1,561.11
Puebla               ...        536.05           7.00          1,595.89
Quer�taro            ...        203.80           1.20          1,434.40
Quintana Roo         ...      8,658.92           3.92          1,396.77
San Luis Potos�      ...         76.17           1.00            326.67
Sinaloa              ...         99.25           0.00            209.00
Sonora               ...          0.00           0.00              0.00
Tabasco              ...        102.43           2.86            403.29
Tamaulipas           ...          8.50           0.00             63.25
Tlaxcala             ...        149.25           5.17          1,220.17
Veracruz             ...        830.56          15.76          2,416.24
Yucat�n              ...      6,341.39          11.83          3,289.44
Zacatecas            ...        189.00           0.80            550.00

                                                                \
year
Mes
tipo_visitante      Entrada sin costo Estudiantes nivel b�sico
Estado
Aguascalientes                 304.00                   733.00
Baja California                  0.00                   149.50
Baja California Sur            337.80                   263.40
Campeche                        12.68                   130.45
Chiapas                        759.25                 1,105.43
Chihuahua                      155.25                   349.00
Ciudad de M�xico             1,088.96                 7,749.85
Coahuila                         0.00                     0.00
Colima                          97.50                   312.00
Durango                        237.00                   343.00
Estado de M�xico               552.73                   343.04
Guanajuato                     151.92                   580.58
Guerrero                        45.08                   182.33
Hidalgo                         20.62                   565.00
Jalisco                          9.67                   546.67
Michoac�n                        2.27                   223.64
Morelos                        651.59                   504.45
Nayarit                         53.17                 1,087.33
Nuevo Le�n                     175.00                     2.50
Oaxaca                          48.08                   569.33
Puebla                         164.29                   785.84
Quer�taro                        6.10                   539.80
Quintana Roo                     0.00                 1,163.23
San Luis Potos�                 16.17                   200.67
Sinaloa                          0.00                    93.50
Sonora                          10.75                    49.50
Tabasco                          0.00                   137.57
Tamaulipas                       0.00                    51.00
Tlaxcala                        62.00                   335.83
Veracruz                         0.00                   451.18
Yucat�n                        142.22                   840.06
Zacatecas                      132.50                   263.80

                                                \
year
Mes
tipo_visitante      Estudiantes nivel superior
Estado
Aguascalientes                          124.00
Baja California                          49.50
Baja California Sur                     167.00
Campeche                                180.25
Chiapas                                 730.79
Chihuahua                               154.33
Ciudad de M�xico                      4,256.23
Coahuila                                  0.00
Colima                                  162.67
Durango                                  52.00
Estado de M�xico                        360.65
Guanajuato                              473.92
Guerrero                                386.42
Hidalgo                                 653.50
Jalisco                                 380.00
Michoac�n                               227.55
Morelos                                 660.45
Nayarit                                 975.00
Nuevo Le�n                              162.50
Oaxaca                                  773.17
Puebla                                  704.11
Quer�taro                               550.00
Quintana Roo                            527.46
San Luis Potos�                         133.33
Sinaloa                                 210.50
Sonora                                   35.00
Tabasco                                 261.14
Tamaulipas                               56.00
Tlaxcala                                211.50
Veracruz                                412.12
Yucat�n                                 888.67
Zacatecas                               174.80

                                                                            \
year
Mes
tipo_visitante      Exposiciones temporales con costo adicional Profesores
Estado
Aguascalientes                                             0.00      86.00
Baja California                                            0.00      29.00
Baja California Sur                                        0.00      26.00
Campeche                                                   0.00     100.10
Chiapas                                                    0.00     478.86
Chihuahua                                                  0.00      20.50
Ciudad de M�xico                                           0.00   2,343.69
Coahuila                                                   0.00       0.00
Colima                                                     0.00      75.67
Durango                                                    0.00      25.00
Estado de M�xico                                           0.00      48.42
Guanajuato                                                 0.00     102.25
Guerrero                                                   0.00      48.25
Hidalgo                                                    0.00     193.12
Jalisco                                                    0.00      57.33
Michoac�n                                                  0.00     118.64
Morelos                                                    0.00     204.91
Nayarit                                                    0.00     446.67
Nuevo Le�n                                                 0.00      30.50
Oaxaca                                                     0.00     280.67
Puebla                                                     0.00     126.95
Quer�taro                                                  0.00     155.80
Quintana Roo                                               0.00     186.46
San Luis Potos�                                            0.00      82.33
Sinaloa                                                    0.00      43.00
Sonora                                                     0.00       0.00
Tabasco                                                    0.00      48.29
Tamaulipas                                                 0.00       5.75

In [136]:
#Porcentaje de visitantes por Recinto en visitantes por estado (total por mes).

table = pd.pivot_table(df_work, index=['Estado'], values=['numero_visitas'], columns=['year', 'Mes', 'tipo_visitante'], aggfunc='count')

pd.options.display.float_format = '{:,.2f}'.format
table['totales']=table.sum(axis=1)
table

                    numero_visitas                                   \
year                          2019
Mes                              1
tipo_visitante       Boleto pagado Discapacitados Entrada dominical
Estado
Aguascalientes                   2              1                 1
Baja California                  4              2                 2
Baja California Sur             10              5                 5
Campeche                        40             20                20
Chiapas                         28             14                14
Chihuahua                       12              6                 6
Ciudad de M�xico                24             12                12
Coahuila                         2              1                 1
Colima                           6              3                 3
Durango                          2              1                 1
Estado de M�xico                52             26                26
Guanajuato                      22             11                11
Guerrero                        24             12                12
Hidalgo                         16              8                 8
Jalisco                         12              6                 6
Michoac�n                       22             11                11
Morelos                         22             11                11
Nayarit                          6              3                 3
Nuevo Le�n                       4              2                 2
Oaxaca                          36             18                18
Puebla                          38             19                19
Quer�taro                       10              5                 5
Quintana Roo                    26             13                13
San Luis Potos�                  6              3                 3
Sinaloa                          4              2                 2
Sonora                           4              2                 2
Tabasco                         14              7                 7
Tamaulipas                       6              3                 3
Tlaxcala                        12              6                 6
Veracruz                        34             17                17
Yucat�n                         38             19                19
Zacatecas                        6              3                 3

                                                                \
year
Mes
tipo_visitante      Entrada sin costo Estudiantes nivel b�sico
Estado
Aguascalientes                      2                        1
Baja California                     4                        2
Baja California Sur                10                        5
Campeche                           40                       20
Chiapas                            28                       14
Chihuahua                          12                        6
Ciudad de M�xico                   24                       12
Coahuila                            2                        1
Colima                              6                        3
Durango                             2                        1
Estado de M�xico                   52                       26
Guanajuato                         22                       11
Guerrero                           24                       12
Hidalgo                            16                        8
Jalisco                            12                        6
Michoac�n                          22                       11
Morelos                            22                       11
Nayarit                             6                        3
Nuevo Le�n                          4                        2
Oaxaca                             36                       18
Puebla                             38                       19
Quer�taro                          10                        5
Quintana Roo                       26                       13
San Luis Potos�                     6                        3
Sinaloa                             4                        2
Sonora                              4                        2
Tabasco                            14                        7
Tamaulipas                          6                        3
Tlaxcala                           12                        6
Veracruz                           34                       17
Yucat�n                            38                       19
Zacatecas                           6                        3

                                                \
year
Mes
tipo_visitante      Estudiantes nivel superior
Estado
Aguascalientes                               1
Baja California                              2
Baja California Sur                          5
Campeche                                    20
Chiapas                                     14
Chihuahua                                    6
Ciudad de M�xico                            12
Coahuila                                     1
Colima                                       3
Durango                                      1
Estado de M�xico                            26
Guanajuato                                  11
Guerrero                                    12
Hidalgo                                      8
Jalisco                                      6
Michoac�n                                   11
Morelos                                     11
Nayarit                                      3
Nuevo Le�n                                   2
Oaxaca                                      18
Puebla                                      19
Quer�taro                                    5
Quintana Roo                                13
San Luis Potos�                              3
Sinaloa                                      2
Sonora                                       2
Tabasco                                      7
Tamaulipas                                   3
Tlaxcala                                     6
Veracruz                                    17
Yucat�n                                     19
Zacatecas                                    3

                                                                            \
year
Mes
tipo_visitante      Exposiciones temporales con costo adicional Profesores
Estado
Aguascalientes                                                2          1
Baja California                                               4          2
Baja California Sur                                          10          5
Campeche                                                     40         20
Chiapas                                                      28         14
Chihuahua                                                    12          6
Ciudad de M�xico                                             24         12
Coahuila                                                      2          1
Colima                                                        6          3
Durango                                                       2          1
Estado de M�xico                                             52         26
Guanajuato                                                   22         11
Guerrero                                                     24         12
Hidalgo                                                      16          8
Jalisco                                                      12          6
Michoac�n                                                    22         11
Morelos                                                      22         11
Nayarit                                                       6          3
Nuevo Le�n                                                    4          2
Oaxaca                                                       36         18
Puebla                                                       38         19
Quer�taro                                                    10          5
Quintana Roo                                                 26         13
San Luis Potos�                                               6          3
Sinaloa                                                       4          2
Sonora                                                        4          2
Tabasco                                                      14          7
Tamaulipas                                                    6          3
Tlaxcala                                                     12          6
Veracruz                                                     34         17
Yucat�n                                                      38         19
Zacatecas                                                     6          3

                                                                             \
year
Mes
tipo_visitante      Tercera edad, pensionados y jubilados Trabajadores INAH
Estado
Aguascalientes                                          1                 1
Baja California                                         2                 2
Baja California Sur                                     5                 5
Campeche                                               20                20
Chiapas                                                14                14
Chihuahua                                               6                 6
Ciudad de M�xico                                       12                12
Coahuila                                                1                 1
Colima                                                  3                 3
Durango                                                 1                 1
Estado de M�xico                                       26                26
Guanajuato                                             11                11
Guerrero                                               12                12
Hidalgo                                                 8                 8
Jalisco                                                 6                 6
Michoac�n                                              11                11
Morelos                                                11                11
Nayarit                                                 3                 3
Nuevo Le�n                                              2                 2
Oaxaca                                                 18                18
Puebla                                                 19                19
Quer�taro                                               5                 5
Quintana Roo                                           13                13
San Luis Potos�                                         3                 3
Sinaloa                                                 2                 2
Sonora                                                  2                 2
Tabasco                                                 7                 7
Tamaulipas                                              3                 3
Tlaxcala                                                6                 6
Veracruz                                               17                17
Yucat�n                                                19                19
Zacatecas                                               3                 3

                     ...                                                     \
year                 ...
Mes                  ...             12
tipo_visitante       ... Discapacitados Entrada dominical Entrada sin costo
Estado               ...
Aguascalientes       ...              1                 1                 2
Baja California      ...              2                 2                 4
Baja California Sur  ...              5                 5                10
Campeche             ...             20                20                40
Chiapas              ...             14                14                28
Chihuahua            ...              6                 6                12
Ciudad de M�xico     ...             13                13                26
Coahuila             ...              1                 1                 2
Colima               ...              3                 3                 6
Durango              ...              1                 1                 2
Estado de M�xico     ...             26                26                52
Guanajuato           ...             12                12                24
Guerrero             ...             12                12                24
Hidalgo              ...              8                 8                16
Jalisco              ...              6                 6                12
Michoac�n            ...             11                11                22
Morelos              ...             11                11                22
Nayarit              ...              3                 3                 6
Nuevo Le�n           ...              2                 2                 4
Oaxaca               ...             18                18                36
Puebla               ...             19                19                38
Quer�taro            ...              5                 5                10
Quintana Roo         ...             13                13                26
San Luis Potos�      ...              3                 3                 6
Sinaloa              ...              2                 2                 4
Sonora               ...              2                 2                 4
Tabasco              ...              7                 7                14
Tamaulipas           ...              4                 4                 8
Tlaxcala             ...              6                 6                12
Veracruz             ...             17                17                34
Yucat�n              ...             18                18                36
Zacatecas            ...              5                 5                10

                                                                         \
year
Mes
tipo_visitante      Estudiantes nivel b�sico Estudiantes nivel superior
Estado
Aguascalientes                             1                          1
Baja California                            2                          2
Baja California Sur                        5                          5
Campeche                                  20                         20
Chiapas                                   14                         14
Chihuahua                                  6                          6
Ciudad de M�xico                          13                         13
Coahuila                                   1                          1
Colima                                     3                          3
Durango                                    1                          1
Estado de M�xico                          26                         26
Guanajuato                                12                         12
Guerrero                                  12                         12
Hidalgo                                    8                          8
Jalisco                                    6                          6
Michoac�n                                 11                         11
Morelos                                   11                         11
Nayarit                                    3                          3
Nuevo Le�n                                 2                          2
Oaxaca                                    18                         18
Puebla                                    19                         19
Quer�taro                                  5                          5
Quintana Roo                              13                         13
San Luis Potos�                            3                          3
Sinaloa                                    2                          2
Sonora                                     2                          2
Tabasco                                    7                          7
Tamaulipas                                 4                          4
Tlaxcala                                   6                          6
Veracruz                                  17                         17
Yucat�n                                   18                         18
Zacatecas                                  5                          5

                                                                            \
year
Mes
tipo_visitante      Exposiciones temporales con costo adicional Profesores
Estado
Aguascalientes                                                2          1
Baja California                                               4          2
Baja California Sur                                          10          5
Campeche                                                     40         20
Chiapas                                                      28         14
Chihuahua                                                    12          6
Ciudad de M�xico                                             26         13
Coahuila                                                      2          1
Colima                                                        6          3
Durango                                                       2          1
Estado de M�xico                                             52         26
Guanajuato                                                   24         12
Guerrero                                                     24         12
Hidalgo                                                      16          8
Jalisco                                                      12          6
Michoac�n                                                    22         11
Morelos                                                      22         11
Nayarit                                                       6          3
Nuevo Le�n                                                    4          2
Oaxaca                                                       36         18
Puebla                                                       38         19
Quer�taro                                                    10          5
Quintana Roo                                                 26         13
San Luis Potos�                                               6          3
Sinaloa                                                       4          2
Sonora                                                        4          2
Tabasco                                                      14          7
Tamaulipas                                                    8          4
Tlaxcala                                                     12          6
Veracruz                                                     34         17
Yucat�n                                                      36         18
Zacatecas                                                    10          5

                                                                             \
year
Mes
tipo_visitante      Tercera edad, pensionados y jubilados Trabajadores INAH
Estado
Aguascalientes                                          1                 1
Baja California                                         2                 2
Baja California Sur                                     5                 5
Campeche                                               20                20
Chiapas                                                14                14
Chihuahua                                               6                 6
Ciudad de M�xico                                       13                13
Coahuila                                                1                 1
Colima                                                  3                 3
Durango                                                 1                 1

In [134]:
#Porcentaje de tipo de visitantes por mes y año
table = pd.pivot_table(df_work, index=['tipo_visitante'], values=['numero_visitas'], columns=['year', 'Mes'], aggfunc='sum')

pd.options.display.float_format = '{:,.2f}'.format
table['totales']=table.sum(axis=1)
table

                                            numero_visitas                  \
year                                                  2019
Mes                                                      1       2       3
tipo_visitante
Boleto pagado                                      1076841  725337  871206
Discapacitados                                        2621    3761    5698
Entrada dominical                                   760989  862672  936297
Entrada sin costo                                   139765  128513  137400
Estudiantes nivel b�sico                            256738  173173  217732
Estudiantes nivel superior                          226359  157729  197582
Exposiciones temporales con costo adicional            260       0      41
Profesores                                           51457   28467   39915
Tercera edad, pensionados y jubilados               131685   78832   97124
Trabajadores INAH                                     1369    1409    1275

                                                                             \
year
Mes                                               4       5       6       7
tipo_visitante
Boleto pagado                                942483  651460  614812  925465
Discapacitados                                 8446    4033    2713    5156
Entrada dominical                            942697  577535  562070  744428
Entrada sin costo                            287604   72437  150186  123871
Estudiantes nivel b�sico                     361860  184699  178143  254252
Estudiantes nivel superior                   302394  176914  139543  214840
Exposiciones temporales con costo adicional    3223     650     612    1135
Profesores                                    81557   35677   28138   65877
Tercera edad, pensionados y jubilados        158478   86607   73732  133451
Trabajadores INAH                              1773    6273    1312    1747

                                                                             \
year
Mes                                               8       9      10      11
tipo_visitante
Boleto pagado                                813932  478395  591386  806040
Discapacitados                                 9060    3521    3824    4947
Entrada dominical                            690616  847399  917705  842028
Entrada sin costo                            107355   97603  126616  152206
Estudiantes nivel b�sico                     209417  169550  226470  267428
Estudiantes nivel superior                   180320  165143  190360  227148
Exposiciones temporales con costo adicional       0     138     124     689
Profesores                                    42061   31275   40604   50288
Tercera edad, pensionados y jubilados        101005   84190   91680  106387
Trabajadores INAH                              1784    1175    1325    2027

                                                     totales
year
Mes                                              12
tipo_visitante
Boleto pagado                                865331  9362688
Discapacitados                                 4353    58133
Entrada dominical                            784100  9468536
Entrada sin costo                            121671  1645227
Estudiantes nivel b�sico                     232885  2732347
Estudiantes nivel superior                   176908  2355240
Exposiciones temporales con costo adicional       0     6872
Profesores                                    71307   566623
Tercera edad, pensionados y jubilados         94136  1237307
Trabajadores INAH                              2140    23609

In [140]:
#Porcentaje de tipo de visitantes por recinto (Mes y Año)
table = pd.pivot_table(df_work, index=['Nacionalidad'], values=['numero_visitas'], columns=['year', 'Mes'], aggfunc='sum')

pd.options.display.float_format = '{:,.2f}'.format
table['totales']=table.sum(axis=1)
table

             numero_visitas                                               \
year                   2019
Mes                       1        2        3        4        5        6
Nacionalidad
Extranjeros          800854   526001   596763   540508   461536   443773
Nacional            1847230  1633892  1907507  2550007  1334749  1307488

                                                                     totales
year
Mes                 7        8        9       10       11       12
Nacionalidad
Extranjeros    597169   492144   305656   410158   518858   544456   6237876
Nacional      1873053  1663406  1572733  1779936  1940330  1808375  21218706